---
import "@fontsource/lora/latin-400.css";
import "@fontsource/monaspace-neon/latin-400.css";
import "@fontsource/poppins/latin-400.css";
import "@fontsource/poppins/latin-500.css";

import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import { createThemeFromBaseColor, injectIntoRoot } from "~/utilities/theme";

type Props = {
	color: string;
	class?: string;
	title: string;
};

const { color, class: className, title } = Astro.props;

const theme = createThemeFromBaseColor(color);

const canonical = import.meta.env.SITE;
const description = "A personal blog by Carlos Paludetto";

const image = `${canonical}/favicon.png`;
const rss = `${canonical}/rss.xml`;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" sizes="300x300" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="alternate" type="application/rss+xml" href={rss} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<slot name="meta">
			<meta name="description" content={description} />
			<link rel="canonical" href={canonical} />

			<meta property="og:title" content={title} />
			<meta property="og:description" content={description} />
			<meta property="og:url" content={canonical} />
			<meta property="og:image" content={image} />
			<meta property="og:type" content="website" />

			<meta name="twitter:card" content="summary" />
			<meta name="twitter:title" content={title} />
			<meta name="twitter:description" content={description} />
			<meta name="twitter:image" content={image} />
			<meta name="twitter:creator" content="@ceopaludetto" />
		</slot>
		<title>{title}</title>
		<style set:html={injectIntoRoot(theme)}></style>
		<!-- Add support to https://docs.onedollarstats.com/get-started -->
		{import.meta.env.PROD && <script defer src="https://assets.onedollarstats.com/stonks.js" />}
	</head>
	<body class={className}>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
